#set($i = 1)
#if(!$seoablelist.isEmpty())
{"text":".","children": [{
        treeitem:'Entities',
        iconCls:'task-folder',
        children:[
        #foreach($item in $seoablelist)
          #if($i == $seoablelist.size())
             {
	            treeitem: '$item',
	            id:'$item',
	            iconCls:'task',
	            leaf:true
             }
          #else
            {
	            treeitem: '$item',
	            id:'$item',
	            iconCls:'task',
	            leaf:true
             },
          #end
           #set($i = $i+1)
        #end
        ]
    }]
}
#end